USE [master]
GO
/****** Object:  Database [HotelReminderDB]    Script Date: 24/06/2026 11:13:18 CH ******/
CREATE DATABASE [HotelReminderDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelReminderDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KHANGCFV123\MSSQL\DATA\HotelReminderDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelReminderDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KHANGCFV123\MSSQL\DATA\HotelReminderDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelReminderDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelReminderDB]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 24/06/2026 11:13:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[GuestID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[CheckIn] [datetime2](7) NOT NULL,
	[CheckOut] [datetime2](7) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[TotalPrice] [decimal](12, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuestNotifications]    Script Date: 24/06/2026 11:13:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuestNotifications](
	[GuestNotifID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[Subject] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Channel] [nvarchar](30) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[SentAt] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GuestNotifID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guests]    Script Date: 24/06/2026 11:13:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guests](
	[GuestID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[IDCard] [nvarchar](20) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](300) NULL,
	[Nationality] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GuestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HousekeepingTasks]    Script Date: 24/06/2026 11:13:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HousekeepingTasks](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[RoomID] [int] NOT NULL,
	[AssignedToID] [int] NULL,
	[TaskType] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ScheduledAt] [datetime2](7) NOT NULL,
	[CompletedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ResultNote] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InternalNotificationReads]    Script Date: 24/06/2026 11:13:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InternalNotificationReads](
	[ReadID] [int] IDENTITY(1,1) NOT NULL,
	[NotifID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[ReadAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InternalNotifications]    Script Date: 24/06/2026 11:13:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InternalNotifications](
	[NotifID] [int] IDENTITY(1,1) NOT NULL,
	[FromUserID] [int] NOT NULL,
	[ToUserID] [int] NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ToDepartment] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotifID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 24/06/2026 11:13:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[ReminderID] [int] NOT NULL,
	[SentTime] [datetime2](7) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[IsRead] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reminders]    Script Date: 24/06/2026 11:13:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reminders](
	[ReminderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[BookingID] [int] NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ReminderType] [nvarchar](30) NOT NULL,
	[ReminderTime] [datetime2](7) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReminderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 24/06/2026 11:13:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomNumber] [nvarchar](20) NOT NULL,
	[RoomType] [nvarchar](50) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Floor] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24/06/2026 11:13:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Department] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingID], [GuestID], [RoomID], [CheckIn], [CheckOut], [Status], [Notes], [TotalPrice], [CreatedAt]) VALUES (1, 1, 3, CAST(N'2026-06-24T10:08:00.0000000' AS DateTime2), CAST(N'2026-06-26T01:10:00.0000000' AS DateTime2), N'checked_out', N'oh wao', CAST(100000000.00 AS Decimal(12, 2)), CAST(N'2026-06-24T21:06:40.4598120' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[GuestNotifications] ON 

INSERT [dbo].[GuestNotifications] ([GuestNotifID], [BookingID], [Subject], [Content], [Channel], [Status], [SentAt], [CreatedAt]) VALUES (1, 1, N't?i gi?', N'okeeee', N'system', N'sent', CAST(N'2026-06-24T23:04:58.4008370' AS DateTime2), CAST(N'2026-06-24T23:04:58.4008370' AS DateTime2))
SET IDENTITY_INSERT [dbo].[GuestNotifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Guests] ON 

INSERT [dbo].[Guests] ([GuestID], [FullName], [IDCard], [Phone], [Email], [Address], [Nationality], [CreatedAt]) VALUES (1, N'khang đ?p trai 01', N'01541234', N'012345365', N'khangdzvai@gmail.com', N'aksdawe', N'Vi?t Nam', CAST(N'2026-06-24T21:06:00.0149860' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Guests] OFF
GO
SET IDENTITY_INSERT [dbo].[HousekeepingTasks] ON 

INSERT [dbo].[HousekeepingTasks] ([TaskID], [RoomID], [AssignedToID], [TaskType], [Status], [Priority], [Description], [ScheduledAt], [CompletedAt], [CreatedAt], [ResultNote]) VALUES (1, 1, 2, N'cleaning', N'done', N'high', N'test nhóa', CAST(N'2026-06-26T14:11:00.0000000' AS DateTime2), CAST(N'2026-06-24T21:07:56.2073420' AS DateTime2), CAST(N'2026-06-24T21:07:53.0723550' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[HousekeepingTasks] OFF
GO
SET IDENTITY_INSERT [dbo].[InternalNotificationReads] ON 

INSERT [dbo].[InternalNotificationReads] ([ReadID], [NotifID], [UserID], [ReadAt]) VALUES (1, 2, 1, CAST(N'2026-06-24T23:03:59.537' AS DateTime))
INSERT [dbo].[InternalNotificationReads] ([ReadID], [NotifID], [UserID], [ReadAt]) VALUES (2, 2, 2, CAST(N'2026-06-24T23:07:56.250' AS DateTime))
INSERT [dbo].[InternalNotificationReads] ([ReadID], [NotifID], [UserID], [ReadAt]) VALUES (3, 1, 2, CAST(N'2026-06-24T23:07:58.553' AS DateTime))
SET IDENTITY_INSERT [dbo].[InternalNotificationReads] OFF
GO
SET IDENTITY_INSERT [dbo].[InternalNotifications] ON 

INSERT [dbo].[InternalNotifications] ([NotifID], [FromUserID], [ToUserID], [Title], [Content], [IsRead], [Priority], [CreatedAt], [ToDepartment]) VALUES (1, 1, NULL, N'loa loa', N'khang đ?p', 1, N'high', CAST(N'2026-06-24T21:03:12.4550050' AS DateTime2), NULL)
INSERT [dbo].[InternalNotifications] ([NotifID], [FromUserID], [ToUserID], [Title], [Content], [IsRead], [Priority], [CreatedAt], [ToDepartment]) VALUES (2, 1, NULL, N'khang nè', N'khang n?a', 0, N'urgent', CAST(N'2026-06-24T23:00:27.1714310' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[InternalNotifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationID], [ReminderID], [SentTime], [Status], [IsRead]) VALUES (1, 1, CAST(N'2026-06-24T21:02:54.8831010' AS DateTime2), N'sent', 1)
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Reminders] ON 

INSERT [dbo].[Reminders] ([ReminderID], [UserID], [BookingID], [Title], [Description], [ReminderType], [ReminderTime], [Status], [CreatedAt]) VALUES (1, 1, NULL, N'ki?m tra ph?ng', N'khangdz', N'checkin', CAST(N'2026-06-24T00:04:00.0000000' AS DateTime2), N'Hoàn thành', CAST(N'2026-06-24T21:02:52.8119570' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Reminders] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomID], [RoomNumber], [RoomType], [Status], [Floor], [Description], [CreatedAt]) VALUES (1, N'101', N'VIP', N'available', 1, N'Ph?ng tiêu chu?n t?ng 1', CAST(N'2026-06-24T21:01:54.8082850' AS DateTime2))
INSERT [dbo].[Rooms] ([RoomID], [RoomNumber], [RoomType], [Status], [Floor], [Description], [CreatedAt]) VALUES (2, N'201', N'Deluxe', N'available', 2, N'Ph?ng deluxe view sân vư?n', CAST(N'2026-06-24T21:01:54.8202770' AS DateTime2))
INSERT [dbo].[Rooms] ([RoomID], [RoomNumber], [RoomType], [Status], [Floor], [Description], [CreatedAt]) VALUES (3, N'301', N'VIP', N'available', 3, N'Ph?ng VIP góc nh?n toàn c?nh', CAST(N'2026-06-24T21:01:54.8301490' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Email], [Role], [CreatedAt], [Department], [Status]) VALUES (1, N'admin', N'scrypt:32768:8:1$pKhWS0nbjfi4wPDK$c60ee85bbe30905644f8d060fd95342492576e2c64024937df2386440cc8de3aeec0c98b076f853735f5a27b86361e35ca826a2a6ac96053decf85441871abca', N'admin@hotel.com', N'admin', CAST(N'2026-06-24T21:01:54.6661050' AS DateTime2), N'management', N'active')
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Email], [Role], [CreatedAt], [Department], [Status]) VALUES (2, N'manager1', N'scrypt:32768:8:1$BQTMR1bRXrsW1c80$6322596ce396ae237d66349f7f869d45fc6abb478f658eb26e7f44640633ba74ef53da855aa053709b79c35e5f99f1df387316ebcf904d4223dc578dab8040a0', N'manager@hotel.com', N'manager', CAST(N'2026-06-24T21:01:54.7956590' AS DateTime2), N'management', N'active')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Guests__43A2A4E31EE46181]    Script Date: 24/06/2026 11:13:19 CH ******/
ALTER TABLE [dbo].[Guests] ADD UNIQUE NONCLUSTERED 
(
	[IDCard] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rooms__AE10E07A3E0CF466]    Script Date: 24/06/2026 11:13:19 CH ******/
ALTER TABLE [dbo].[Rooms] ADD UNIQUE NONCLUSTERED 
(
	[RoomNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E465D57413]    Script Date: 24/06/2026 11:13:19 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (N'confirmed') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [TotalPrice]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GuestNotifications] ADD  DEFAULT (N'system') FOR [Channel]
GO
ALTER TABLE [dbo].[GuestNotifications] ADD  DEFAULT (N'sent') FOR [Status]
GO
ALTER TABLE [dbo].[GuestNotifications] ADD  DEFAULT (sysdatetime()) FOR [SentAt]
GO
ALTER TABLE [dbo].[GuestNotifications] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Guests] ADD  DEFAULT (N'Việt Nam') FOR [Nationality]
GO
ALTER TABLE [dbo].[Guests] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[HousekeepingTasks] ADD  DEFAULT (N'pending') FOR [Status]
GO
ALTER TABLE [dbo].[HousekeepingTasks] ADD  DEFAULT (N'normal') FOR [Priority]
GO
ALTER TABLE [dbo].[HousekeepingTasks] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InternalNotifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[InternalNotifications] ADD  DEFAULT (N'normal') FOR [Priority]
GO
ALTER TABLE [dbo].[InternalNotifications] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (sysdatetime()) FOR [SentTime]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (N'sent') FOR [Status]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Reminders] ADD  DEFAULT (N'custom') FOR [ReminderType]
GO
ALTER TABLE [dbo].[Reminders] ADD  DEFAULT (N'Chưa đến hạn') FOR [Status]
GO
ALTER TABLE [dbo].[Reminders] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT (N'available') FOR [Status]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'staff') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Department]  DEFAULT (N'reception') FOR [Department]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Status]  DEFAULT (N'active') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Guests] FOREIGN KEY([GuestID])
REFERENCES [dbo].[Guests] ([GuestID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Guests]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Rooms] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Rooms]
GO
ALTER TABLE [dbo].[GuestNotifications]  WITH CHECK ADD  CONSTRAINT [FK_GuestNotifications_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[GuestNotifications] CHECK CONSTRAINT [FK_GuestNotifications_Bookings]
GO
ALTER TABLE [dbo].[HousekeepingTasks]  WITH CHECK ADD  CONSTRAINT [FK_HousekeepingTasks_Rooms] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[HousekeepingTasks] CHECK CONSTRAINT [FK_HousekeepingTasks_Rooms]
GO
ALTER TABLE [dbo].[HousekeepingTasks]  WITH CHECK ADD  CONSTRAINT [FK_HousekeepingTasks_Users] FOREIGN KEY([AssignedToID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[HousekeepingTasks] CHECK CONSTRAINT [FK_HousekeepingTasks_Users]
GO
ALTER TABLE [dbo].[InternalNotificationReads]  WITH CHECK ADD FOREIGN KEY([NotifID])
REFERENCES [dbo].[InternalNotifications] ([NotifID])
GO
ALTER TABLE [dbo].[InternalNotificationReads]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[InternalNotifications]  WITH CHECK ADD  CONSTRAINT [FK_InternalNotifications_FromUser] FOREIGN KEY([FromUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[InternalNotifications] CHECK CONSTRAINT [FK_InternalNotifications_FromUser]
GO
ALTER TABLE [dbo].[InternalNotifications]  WITH CHECK ADD  CONSTRAINT [FK_InternalNotifications_ToUser] FOREIGN KEY([ToUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[InternalNotifications] CHECK CONSTRAINT [FK_InternalNotifications_ToUser]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Reminders] FOREIGN KEY([ReminderID])
REFERENCES [dbo].[Reminders] ([ReminderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Reminders]
GO
ALTER TABLE [dbo].[Reminders]  WITH CHECK ADD  CONSTRAINT [FK_Reminders_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[Reminders] CHECK CONSTRAINT [FK_Reminders_Bookings]
GO
ALTER TABLE [dbo].[Reminders]  WITH CHECK ADD  CONSTRAINT [FK_Reminders_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reminders] CHECK CONSTRAINT [FK_Reminders_Users]
GO
USE [master]
GO
